@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4" style="background-color: whitesmoke">
            <a href="https://www.linkedin.com/in/ivanlempek-dev/" target="_blank">Desenvolvido por Ivan Lempek</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
